sv_useDirectListing false # As it
sv_forceIndirectListing true # As it
sv_endpoints "1.1.1.1:30120 2.2.2.2:30120" # 1.1.1.1:30120, 2.2.2.2:30120 the ip's of your servers (or game proxies (UDP/TCP))
sv_listingIpOverride "subdomain.purplemaze.xyz:443" # Your domain name (always end :443 so it uses https)
sv_listingHostOverride "subdomain.purplemaze.xyz:443" # The same, but a 2nd time
sv_proxyIPRanges "1.1.1.1/32 2.2.2.2/32" # The IP ranges of your proxies (both HTTP and UDP/TCP).
fileserver_add ".*" "https://subdomain.purplemaze.xyz/files" # The URL of your file server (often the same subdomain.domain as above)
set adhesive_cdnKey "ThisIsACdnKey" # The CDN key (As you want it to be)

# Note: ensure deleting any existing sv_listingHostOverride and sv_listingIpOverride lines in your server.cfg